.page-user-settings {
    display: grid;
    position: relative;
    width: 800px;
    height: max-content;
    padding-top: 10px;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100%;

    &_blocks {
        padding: 10px;
        box-shadow: 2px 0 1px -1px #f0f0f0;

        &_block {
            display: block;
            position: relative;
            padding: 10px 0;
            border-radius: 8px;
            box-shadow: 0 0 0 1px #f0f0f0;

            hr {
                height: 1px;
                width: calc(100% - 50px);
            }

            &_el {
                display: block;
                position: relative;
                padding: 10px 0;

                &_body {
                    &_Input > input {
                        width: 300px;
                    }

                    .u-horList {
                        width: 400px;

                        .hor-list_el {
                            font-size: 18px;
                        }
                    }
                }

                &_name {
                    display: block;
                    position: relative;
                    width: max-content;
                    height: 20px;
                    margin: 0 auto;
                }

                &_description {
                    display: block;
                    position: relative;
                    max-width: 90%;
                    height: max-content;
                    padding: 5px 0;
                    margin: 0 auto;
                    text-align: center;
                    font-size: 14px;
                    word-wrap: break-word;
                }
            }
        }
    }

    &_changed {
        padding: 10px 0;

        &_changelist {
            display: block;
            position: relative;

            padding-bottom: 10px;

            h4 {
                margin: 5px auto;
                text-indent: 10px;
            }

            &_list {
                padding: 0 5px;

                &_el {
                    padding: 5px;
                    margin: 0 auto;
                    line-height: 20px;
                    vertical-align: middle;
                    overflow-x: hidden;
                    white-space: nowrap;
                    //text-overflow: ellipsis;

                    &_name {
                        display: inline-block;
                    }

                    &_value {
                        display: inline-block;
                    }

                    &_warning {
                        display: inline-block;
                        color: #bbaa22;
                    }
                }
            }
        }

        &_saveBtn {
            padding: 7px 25px;
            border-radius: 8px;
            font-size: 17px;
        }
    }
}
