.page-idea-create {
    padding: 10px 0;

    &_Form {
        display: grid;
        position: relative;
        width: 600px;
        padding: 10px;
        margin: 0 auto;

        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-gap: 10px;

        border-radius: 10px;
        box-shadow: 0 3px 5px -1px #f0f0f0;

        &_name > input,
        &_text {
            width: 100%;
            box-sizing: border-box;
        }

        &_name > input {
            height: 40px;
            padding: 5px 15px;
            font-size: 20px;
        }

        //&_tags {
        //    display: flex;
        //    height: max-content;
        //    padding: 5px;
        //    flex-direction: row;
        //
        //    &_el {
        //        display: block;
        //        width: max-content;
        //        height: 20px;
        //        padding: 5px 10px;
        //        margin-right: 5px;
        //
        //        line-height: 20px;
        //        vertical-align: middle;
        //        text-align: center;
        //        box-shadow: 0 3px 5px -1px #f0f0f0;
        //        border-radius: 5px;
        //    }
        //}

        &_text {
            display: block;
            position: relative;
            padding: 0;

            textarea {
                min-height: 350px;
                max-height: 750px;
                font-size: 18px;
                text-align: left;
            }
        }

        &_done {
            padding: 10px 20px;
            font-size: 18px;
        }
    }
}
