#page-idea-new {
    padding: 10px 0;

    .new-idea-form {
        display: grid;
        position: relative;
        width: 600px;
        padding: 10px;
        margin: 0 auto;

        grid-template-columns: 1fr;
        grid-template-rows: auto;

        border-radius: 10px;
        box-shadow: 0 3px 5px -1px #f0f0f0;

        .new-idea-form__name,
        .new-idea-form__text {
            width: 100%;
            box-sizing: border-box;
        }

        .new-idea-form__name {
            height: 40px;
            padding: 5px 15px;
            font-size: 20px;
        }

        .new-idea-form__text {
            display: block;
            position: relative;
            padding: 10px;
            min-height: 350px;
            font-size: 18px;
            text-align: left;
        }

        .new-idea-form__done {
            padding: 10px 20px;
            font-size: 18px;
        }
    }
}
