<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TwoBrains</title>
        <link rel="stylesheet" href="{{concat '/static/css/pages/' info.path '.css'}}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    </head>
    <body>
        {{>common/header}}
        {{>common/menu}}

        <div id="page">
            {{{body}}}
        </div>

        <script type="module" src="{{concat '/static/js/pages/' info.path '.js'}}"></script>
    </body>
</html>