.base-btn {
    //background: #fff;
    cursor: pointer;
}

.btn {
    @extend .base-btn;

    transition: background .15s ease;
    &:hover {
        background: #f0f0f0;
    }
    &:active {
        background: #ddd;
    }
}

.text-btn {
    @extend .base-btn;

    transition: .2s ease;
    color: #888;

    &:hover {
        color: #555;
        box-shadow: inset 0 -2px 1px -1px #333;
    }

    &:active {
        color: #333;
    }
}

.flat-btn {
    @extend .btn;

    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #f6f6f6;

    padding: 5px 10px;

    &:hover {
        box-shadow: inset 0 0 0 1px #dddf;
    }

    &:active {
        box-shadow: inset 0 0 0 1px #cccf;
    }
}

.material-btn {
    @extend .btn;

    width: max-content;
    height: max-content;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px auto;

    transition: box-shadow .15s, background .15s;

    box-shadow: 0 2px 4px 1px #f0f0f0;

    &.material-btn--flat {
        box-shadow: 0 0 0 1px #f0f0f0;
    }

    &.anti {
        box-shadow: none;
    }

    &:hover {
        box-shadow: 0 3px 8px -1px #ddd;
    }

    &:active {
        box-shadow: 0 3px 10px -3px #ddd;
    }
}
