hr {
    width: 100%;
    height: 1px;
    margin: 4px auto;
    box-shadow: inset 0 0 0 1px #f0f0f0;
}

label {
    text-align: center;
    margin: 5px auto;
}

//input[type='file'] {
//    display: block;
//    position: relative;
//    width: 200px;
//    height: 25px;
//    padding: 5px;
//    margin: 10px auto;
//
//    text-align: center;
//    border-radius: 5px;
//    box-shadow: 0 3px 5px -1px #f0f0f0;
//    transition: .2s ease;
//
//    &:hover {
//        box-shadow: 0 3px 5px -1px #ddd;
//    }
//
//    &:active {
//        box-shadow: ;
//    }
//}
