@import 'reset';
@import '../ui/ui';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    //font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #333;

    * {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#layout {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

#page {
    display: block;
    position: relative;
    left: 50vw; top: 40px;
    width: 50vw;
    padding: 0 25px;
    margin-left: calc(-25vw - 25px);
}
