@import 'reset';
@import '../components/common/header';
@import '../components/common/menu';
@import '../components/common/spinner';
@import '../ui/common';
@import '../ui/toast';
@import '../ui/basics';
@import '../ui/btn';

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;

    * {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
}

html, body {
    width: 100%;
    height: 100%;
}

#layout {
    display: block;
    position: relative;
    width: 100%;
    height: max-content;
}

#page {
    display: block;
    position: relative;
    left: 50vw; top: 40px;
    width: 50vw;
    padding: 0 25px;
    margin-left: calc(-25vw - 25px);
}
