.ui-input-file {
    display: grid;
    position: relative;
    width: max-content;
    margin: 10px auto;

    grid-template-columns: max-content max-content;
    grid-template-rows: 35px minmax(0, auto);

    border-radius: 5px;
    box-shadow: 0 0 2px -1px #666;
    overflow: hidden;
    font-size: 15px;

    .ui-input-file__container {
        padding: 5px 15px;

        input[type='file'] {
            display: none;
        }

        .ui-input-file__container__text,
        .ui-input-file__container__chosen {
            display: inline-block;
            height: 25px;

            text-align: center;
            line-height: 25px;
            vertical-align: middle;
        }

        .ui-input-file__container__text {
            padding-right: 10px;
        }

        .ui-input-file__container__chosen {
            padding-left: 10px;
            max-width: 200px;

            box-shadow: -1px 0 1px -1px #888;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .ui-input-file__remove {
        height: 25px;
        padding: 5px 10px;
        line-height: 25px;
        vertical-align: middle;
        font-size: 16px;
        box-shadow: -1px 0 1px -1px #888;
    }

    .ui-input-file__preview {
        grid-column: 1 / 3;

        img {
            display: block;
            position: relative;
            height: 250px;
            margin: 0 auto;

            &[src=""] {
                display: none;
            }
        }
    }
}
