@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.ui-Spinner {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 25px auto;
    box-shadow: 0 0 15px #ddd;
    border-radius: 50%;

    background: linear-gradient(180deg, #f2595966 0%, #f2595966 25%, #C6809466 50%, #9aa6ce66 75%, #9aa6ce66 100%);

    animation: spin .75s infinite linear;
}
