<header class="main-header">
    <div class="main-header__back"></div>

    <div class="main-header__menu-btn btn">
        <i class="fas fa-bars"></i>
    </div>

    <div class="main-header__logo btn">
        <img class="main-header__logo__img" src="/static/img/logo.png" alt="TwoBrains">
    </div>

    <div class="main-header__user-btn btn">
        <div class="main-header__user-btn__avatar">
            <img src="/static/img/avatar.png" alt="avatar">
        </div>
        <div class="main-header__user-btn__nickname">
            mr.kek
        </div>
    </div>
</header>