<div class="main-menu show">
    <a class="btn main-menu__btn" href="/">
        Home
    </a>
    <hr>
    <a class="btn main-menu__btn" href="/user/{{auth.user.userUid}}">
        Profile
    </a>
</div>
