#main-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    flex-direction: row;
    z-index: 1000;

    .main-header__back {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 40px;
        background: #fff;
        box-shadow: 0 2px 5px -2px #ddd;
        z-index: -1;
    }

    .main-header__menu-btn.btn {
        display: block;
        position: relative;
        left: -5px;
        width: 10px;
        height: 20px;
        padding: 10px 12px 10px 0;
        line-height: 20px;
        font-size: 18px;

        transition: left .1s ease, background .15s ease;

        &:hover {
            left: 0;
        }
    }

    .main-header__logo {
        width: max-content;
        height: 30px;
        padding: 5px 10px;
    }

    .main-header__logo__img {
        height: 100%;
    }

    .right {
        display: flex;
        margin-left: auto;
        flex-direction: row;

        .main-header__plus {
            margin-left: auto;
            width: 40px;
            height: 40px;
            line-height: 40px;
            vertical-align: middle;
            font-size: 18px;
            color: #444;
            text-align: center;
        }

        .main-header__user-btn {
            display: flex;
            width: 200px;
            height: 40px;
            flex-direction: row;

            .main-header__user-btn__avatar {
                img {
                    width: 30px;
                    height: 30px;
                }
            }

            &:hover {
                .main-header__user-btn__avatar {
                    img {
                        box-shadow: 0 4px 10px #ddd;
                    }
                }
            }
        }

        .main-header__user-btn__avatar {
            width: 40px;
            height: 40px;

            img {
                height: 30px;
                margin: 5px;
                border-radius: 50%;
                box-shadow: 0 4px 5px #f0f0f0;
            }
        }

        .main-header__user-btn__nickname {
            width: max-content;
            height: 40px;
            line-height: 40px;
        }
    }

    .main-header__plus-menu,
    .main-header__user-menu {
        display: block;
        position: fixed;
        top: 45px;
        height: max-content;
        border-radius: 8px;
        box-shadow: 0 2px 5px -1px #dfdfdf;
        background: #ffffff;
        overflow: hidden;

        transition: right .1s;
        z-index: -10;
    }

    .main-header__plus-menu {
        display: none;
        width: max-content;
        right: 200px;

        &.show {
            display: block;
        }

        .main-header__plus-menu__btn {
            font-size: 15px;
            padding: 6px 15px;
        }
    }

    .main-header__user-menu {
        width: 180px;
        right: -250px;

        &.show {
            right: 10px;
        }
    }

    .main-header__user-menu__btn,
    .main-header__plus-menu__btn {
        display: block;
        position: relative;
        height: 20px;
        padding: 6px 0;
        line-height: 20px;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }

    .main-header__user-menu__btn--log-out {
        letter-spacing: 1px;

        & > i.fa-skull {
            display: none;
            position: absolute;
            top: 8px;
            color: #555;

            &.first {
                left: 10px;
            }

            &.second {
                right: 10px;
            }
        }

        &:hover {
            color: #f25959;
            font-weight: bold;

            & > i.fa-skull {
                display: inline-block;
            }
        }

        &:active {
            background: #f25959 !important;
        }
    }
}

