.LogoText {
    color: #333;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;

    * {
        font-family: 'Maven Pro', sans-serif;
    }

    .T {
        color: darken(#9aa6ce, 10%);
    }

    .B {
        color: #f25959;
    }
}
