.MainMenu {
    display: block;
    position: fixed;
    top: 40px;
    left: -200px;
    width: 200px;
    padding-top: 1px;
    height: calc(100vh - 40px);
    background: #fff;
    z-index: 2;

    transition: left .15s ease-in, box-shadow .75s ease-out .15s;

    &.show {
        left: 0;
        box-shadow: 1px 0 5px -2px #ccca;
    }

    &_btn {
        display: block;
        position: relative;
        width: 100%;
        height: 35px;
        padding: 5px;
        box-sizing: border-box;
        line-height: 25px;
        font-size: 18px;
        text-align: center;
    }

    &_bottom {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: max-content;
        //padding-bottom: 15px;

        box-shadow: 0 -2px 1px -1px #f0f0f0;

        &_about {
            display: block;
            position: relative;
            width: max-content;
            text-align: center;
            margin: 10px auto 0;

            color: #bbb;

            &:hover {
                color: #333;
            }
        }

        &_copyright {
            display: block;
            position: relative;
            height: 20px;

            line-height: 20px;
            vertical-align: middle;
            text-align: center;
            color: #ddd;
            font-size: 14px;
        }
    }
}
