@import '../../ui/btn';

.idea__comments__comment {
    display: grid;
    position: relative;

    padding: 10px;

    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: max-content max-content 25px max-content;
    grid-template-areas: 'header'
                         'body'
                         'footer'
                         'replies';

    box-shadow: 0 1px 2px -1px #f0f0f0;

    &.reply {
        padding: 5px 10px;
    }

    &:last-child {
        box-shadow: none;
    }

    .idea__comments__comment__header {
        display: flex;
        flex-direction: row;

        .idea__comments_comment__user {
            display: grid;
            position: relative;
            grid-template-columns: 25px max-content max-content;
            grid-template-rows: 100%;
            width: max-content;
            height: 25px;
            padding: 5px 10px 5px 5px;
            border-radius: 10px;

            grid-area: header;

            .idea__comments__comment__user__avatar {
                display: inline-block;
                width: 25px;
                height: 25px;
                img {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                }
            }

            .idea__comments__comment__user__nickname {
                padding-left: 5px;
                line-height: 25px;
                vertical-align: middle;
            }

            .idea__comments__comment__date {
                font-size: 12px;
                line-height: 25px;
                vertical-align: middle;
                padding: 0 5px;
            }
        }

        .idea__comments__comment__header__options {
            display: block;
            position: absolute;
            top: 50px;
            right: 10px;
            width: max-content;
            height: max-content;

            background: #fff;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 2px 5px -1px #ddd;

            z-index: 10;

            .idea__comments__comment__header__options__el {
                display: block;
                position: relative;
                width: max-content;
                height: 20px;
                padding: 5px 25px;
                line-height: 20px;
                vertical-align: middle;
                font-size: 14px;
                text-align: center;
            }
        }

        .right {
            display: flex;
            flex-direction: row;
            margin-left: auto;

            .idea__comments__comment__user__options-btn {
                width: 25px;
                height: 25px;
                padding: 5px;
                font-size: 15px;
                text-align: center;
                line-height: 26px;
                vertical-align: middle;
                border-radius: 10px;
                color: #aaa;
                transition: .2s ease;

                &:hover {
                    color: #333;
                }
            }
        }
    }

    .idea__comments__comment__content {
        display: block;
        position: relative;
        padding: 5px 10px;
        white-space: normal;
        word-wrap: break-word;
        grid-area: body;

        .idea__comments__comment__content__reply-to {
            color: #9aa6ce;
            transition: color .15s ease;

            &:hover {
                color: darken(#9aa6ce, 25%)
            }

            &:active {
                color: darken(#9aa6ce, 50%)
            }
        }
    }

    .idea__comments__comment__footer {
        display: flex;
        padding: 0 5px;
        grid-area: footer;

        .idea__comments__comment__footer__btn {
            padding: 0 5px;
            line-height: 28px;
            vertical-align: middle;
            font-size: 14px;
            text-align: center;
        }

        .idea__comments__comment__footer__btn--like {
            background: #fff;
            transition: color .15s ease;
            //box-shadow: inset 0 0 0 1px #f6f6f6;
            //border-radius: 5px;

            .count {
                padding: 0 2px;
            }

            &:hover {
                color: #f25959cc;
                text-shadow: 0 1px 5px -1px #f0f0f0;
            }

            &:active {
                i {
                    transform: scale(1.2);
                }
            }

            &.liked {
                color: #f25959cc;

                &:hover {
                    color: #333;
                }

                &:active {
                    i {
                        transform: rotate(15deg);
                    }
                }
            }
        }

        .idea__comments__comment__footer__btn--replies {
            @extend .base-btn;

            transition: box-shadow .15s ease, color .15s ease;

            color: #888;
            &:hover {
                color: #555;
                box-shadow: inset 0 -2px 1px -1px #333;
            }

            &:active {
                color: #333;
            }

            padding: 0;
            margin: 0 5px;
            height: 20px;
        }
    }

    .idea__comments__comment__replies,
    .idea__comments__comment__replies_stub {
        grid-area: replies;
    }
}
