@import '../../common/common';

.page-auth {
    display: block;
    position: relative;
    width: 500px;
    height: max-content;
    padding: 10px;
    margin: 10px auto;

    background: #fff;
    box-shadow: 0 3px 5px -1px #f0f0f0;
    border-radius: 10px;

    &_header {
        display: block;
        position: relative;
        width: 100%;
        height: max-content;
        margin: 0 auto;

        &:hover {
            &._other {
                opacity: 0.8;
            }
        }

        &_h {
            display: inline-block;
            width: 100%;
            position: relative;
            text-align: center;

            padding-bottom: 5px;

            transition: font-size .1s, left .25s, right .25s;
            font-size: 24px;

            &._other {
                position: absolute;
                top: -10px;
                left: 0;
                padding: 10px 0;
                opacity: 0.5;
                font-size: 14px;
                transition: .2s ease;
            }
        }
    }

    &_body {
        margin: 5px auto;

        label {
            display: none;
        }

        &_accept {
            font-size: 17px;
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }

    &_footer {
        padding-top: 5px;

        h6 {
            text-align: center;
        }

        &_servicesButtons {
            display: block;
            position: relative;
            width: max-content;
            margin: 5px auto;

            transition: opacity .2s;

            &:hover {
                opacity: 0.75;
            }

            &:active {
                opacity: 0.5;
            }

            img {
                width: 185px;
            }
        }
    }
}
