.btn {
    background: #fff;
    cursor: pointer;
    transition: background .15s;
    &:hover {
        background: #f0f0f0;
    }
    &:active {
        background: #ddd;
    }
}

hr {
    width: 100%;
    height: 2px;
    margin: 5px 0;
    box-shadow: inset 0 0 0 1px #f0f0f0;
}

// Scrollbar
.sb::-webkit-scrollbar {
    width: 6px;
}

.sb::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.sb::-webkit-scrollbar-thumb {
    background: #ccc;
}


.sb::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}
