html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  outline: none;
  background: none;
  box-sizing: content-box;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
  height: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: 0;
  margin: 0;
}

.main-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  flex-direction: row;
  z-index: 100;
}

.main-header__back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  background: #fff;
  box-shadow: 0 3px 5px -2px #ddd;
  z-index: -1;
}

.main-header__menu-btn {
  display: block;
  position: relative;
  left: -5px;
  width: 10px;
  height: 20px;
  padding: 10px 12px 10px 0;
  line-height: 20px;
  font-size: 18px;
}
.main-header__menu-btn:hover {
  left: 0;
}

.main-header__logo {
  width: max-content;
  height: 30px;
  padding: 5px 10px;
}

.main-header__logo__img {
  height: 100%;
}

.main-header__user-btn {
  display: flex;
  width: 200px;
  height: 40px;
  margin-left: auto;
  flex-direction: row;
}
.main-header__user-btn:hover .main-header__user-btn__avatar img {
  box-shadow: 0 4px 10px #ddd;
}

.main-header__user-btn__avatar {
  width: 40px;
  height: 40px;
}
.main-header__user-btn__avatar img {
  height: 30px;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0 4px 5px #f0f0f0;
}

.main-header__user-btn__nickname {
  width: max-content;
  height: 40px;
  line-height: 40px;
}

.main-menu {
  display: block;
  position: fixed;
  top: 40px;
  left: -200px;
  width: 200px;
  height: calc(100vh - 40px);
  background: #fff;
  z-index: 2;
  transition: left 0.15s ease-in, box-shadow 0.75s ease-out 0.15s;
}
.main-menu.show {
  left: 0;
  box-shadow: 2px 0 5px -2px #ddd;
}

.main-menu__btn {
  display: block;
  position: relative;
  width: 100%;
  height: 35px;
  padding: 5px;
  box-sizing: border-box;
  line-height: 25px;
  font-size: 18px;
  text-align: center;
}

.btn {
  background: #fff;
  cursor: pointer;
  transition: background 0.15s;
}
.btn:hover {
  background: #f0f0f0;
}
.btn:active {
  background: #ddd;
}

hr {
  width: 100%;
  height: 2px;
  margin: 5px 0;
  box-shadow: inset 0 0 0 1px #f0f0f0;
}

.sb::-webkit-scrollbar {
  width: 6px;
}

.sb::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.sb::-webkit-scrollbar-thumb {
  background: #ccc;
}

.sb::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #333;
}
body * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

._debug.data-dump {
  display: block;
  position: absolute;
  top: 100px;
  left: -500px;
  width: 550px;
  height: 550px;
  padding: 10px 0;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px #f0f0f0;
  transition: left 0.5s ease;
  transition-delay: 0.5s;
}
._debug.data-dump:hover {
  transition-delay: 0s;
  left: 0;
}

#page {
  display: block;
  position: relative;
  left: 50vw;
  top: 40px;
  width: 50vw;
  padding: 0 25px;
  margin-left: calc(-25vw - 25px);
}

.user-profile {
  display: grid;
  width: 100%;
  height: max-content;
  padding: 10px 0;
  grid-template-rows: 160px auto;
  grid-template-columns: 100%;
  grid-gap: 10px;
}

.user-profile__header {
  display: grid;
  width: 100%;
  padding: 5px;
  grid-auto-columns: 150px minmax(250px, auto);
  grid-auto-rows: 100%;
  grid-auto-flow: column;
  border-radius: 75px 10px 10px 75px;
  box-shadow: 0 3px 8px -1px #f0f0f0;
}

.user-profile__header__avatar {
  display: block;
  position: relative;
  border-radius: 50%;
}
.user-profile__header__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 3px 5px -2px #aaa;
}
.user-profile__header__avatar .user-profile__header__avatar__online {
  display: block;
  position: absolute;
  bottom: 12px;
  right: 12px;
  background: #9aa6ce;
  width: 12px;
  height: 12px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.user-profile__header__nickname {
  display: block;
  position: relative;
  font-size: 25px;
}
.user-profile__header__nickname span {
  line-height: 150px;
  vertical-align: middle;
  padding: 0 10px;
}
.user-profile__header__nickname .user-profile__header__nickname__was-online {
  display: block;
  position: absolute;
  bottom: 35px;
  left: 10px;
  width: 100%;
  height: max-content;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  color: #9aa6ce;
}

/*# sourceMappingURL=profile.css.map */
