.project {
    display: grid;
    position: relative;
    width: 100%;
    height: 130px;

    grid-template-columns: 100%;
    grid-template-rows: 100px 30px;

    border-radius: 5px;
    box-shadow: 0 3px 6px -1px #f0f0f0;
    transition: box-shadow .2s ease-out;
    cursor: default;

    &.hover {
        box-shadow: 0 5px 15px #f0f0f0;
    }

    .project__body {
        display: grid;

        grid-template-columns: 100px auto;

        .project__body__image {
            padding: 5px;

            img {
                display: block;
                width: 90px;
                height: 90px;
                box-shadow: 0 3px 5px -2px #ddd;
                border-radius: 8px;
                cursor: pointer;
            }
        }

        .project__body__info {
            display: grid;

            grid-template-columns: auto max-content;
            grid-template-rows: 30px auto;

            .project__body__info__name {
                grid-column: 1;
                margin-left: 5px;
                font-size: 18px;
                line-height: 40px;
                vertical-align: middle;
                letter-spacing: 0.025em;
                font-weight: 300;
                box-shadow: inset 0 -1px #f0f0f0;
            }

            .project__body__info__btns {
                grid-column: 2;
                grid-row: 1;

                display: grid;
                grid-template-columns: repeat(2, 30px);
                grid-template-rows: 30px;

                box-shadow: inset 0 -1px #f0f0f0;

                .project__body__info__btns__el {
                    border-radius: 0 5px 0 5px;
                    font-size: 14px;
                    line-height: 30px;
                    vertical-align: middle;
                    text-align: center;
                    color: #888;
                    transition: .25s ease;
                    font-weight: 100;

                    &:hover {
                        color: #333;
                    }
                }
            }

            .project__body__info__description {
                grid-column: -1 / 1;
                padding: 5px;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }

    .project__footer {
        display: grid;
        padding: 5px 0;

        grid-template-columns: 100px auto max-content;
        grid-template-rows: 20px;

        box-shadow: 0 -1px 1px -1px #aaa;

        .project__footer__like {
            width: max-content;
            font-size: 14px;
            padding: 0 10px;
            margin: 0 auto;
            line-height: 20px;
            vertical-align: middle;
            text-align: center;
            border-radius: 5px;
            box-shadow: 0 0 0 1px #f0f0f0;

            span {
                line-height: 22px;
                vertical-align: middle;
                font-weight: 500;
            }

            &.liked {
                i {
                    color: #FFD700;
                    text-shadow: 0 0 1px mix(#FFD700, #000, 80%);
                }
            }

            i {
                transition: .15s ease;
            }

            &:hover {
                i {
                    color: #FFD700;
                    text-shadow: 0 0 10px #fff;
                }
            }
        }

        .project__footer__tags {
            display: grid;

            grid-template-columns: max-content;
            grid-template-rows: 100%;

            .project__footer__tags__el {
                padding: 0 10px;
                font-size: 14px;
                line-height: 20px;
                vertical-align: middle;
                border-radius: 5px;
                box-shadow: inset 0 0 0 1px #f0f0f0;

                &:hover {
                    box-shadow: 0 2px 4px -1px #ddd;
                }

                .group {
                    font-weight: 500;
                }
            }
        }

        .project__footer__creator {
            padding: 0 10px;
            line-height: 20px;
            vertical-align: middle;
            font-size: 14px;
            color: #666;

            .project__footer__creator__link {
                font-weight: 600;

                transition: color .15s ease;
                &:hover {
                    color: #9aa6ce;
                }
            }
        }
    }
}
