.project {
    display: grid;
    position: relative;
    width: 100%;
    height: 130px;

    margin: 10px auto;

    grid-template-columns: 100%;
    grid-template-rows: 100px 30px;

    border-radius: 10px;
    box-shadow: 0 3px 6px -1px #f0f0f0;
    transition: box-shadow .2s ease-out;
    cursor: default;

    &.hover {
        box-shadow: 0 5px 15px #f0f0f0;
    }

    .project__body {
        display: grid;

        grid-template-columns: 100px auto;

        .project__body__image {
            padding: 5px;

            img {
                display: block;
                width: 90px;
                height: 90px;
                box-shadow: 0 3px 5px -2px #ddd;
                border-radius: 8px;
                cursor: pointer;
            }
        }

        .project__body__info {
            display: grid;

            grid-template-columns: 100%;
            grid-template-rows: 30px auto;

            .project__body__info__name {
                margin-left: 5px;
                font-size: 18px;
                line-height: 40px;
                vertical-align: middle;
                letter-spacing: 0.025em;
                font-weight: 300;
                box-shadow: 0 1px #f0f0f0;
            }

            .project__body__info__description {
                padding: 5px;
                font-size: 14px;
            }
        }
    }

    .project__footer {
        display: flex;
        padding: 5px 0;
        flex-direction: row;
        flex-flow: row-reverse;

        box-shadow: 0 -1px 1px -1px #aaa;

        .project__footer__creator {
            padding: 0 10px;
            line-height: 20px;
            vertical-align: middle;

            .project__footer__creator__link {
                font-weight: 600;

                transition: color .15s ease;
                font-size: 15px;
                &:hover {
                    color: #9aa6ce;
                }
            }
        }
    }
}
