.main-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    flex-direction: row;
    z-index: 100;
}

.main-header__back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    background: #fff;
    box-shadow: 0 3px 5px -2px #ddd;
    z-index: -1;
}

.main-header__menu-btn {
    display: block;
    position: relative;
    left: -5px;
    width: 10px;
    height: 20px;
    padding: 10px 12px 10px 0;
    line-height: 20px;
    font-size: 18px;

    &:hover {
        left: 0;
    }
}

.main-header__logo {
    width: max-content;
    height: 30px;
    padding: 5px 10px;
}

.main-header__logo__img {
    height: 100%;
}

// User
.main-header__user-btn {
    display: flex;
    width: 200px;
    height: 40px;
    margin-left: auto;
    flex-direction: row;

    &:hover {
        .main-header__user-btn__avatar {
            img {
                box-shadow: 0 4px 10px #ddd;
            }
        }
    }
}

.main-header__user-btn__avatar {
    width: 40px;
    height: 40px;
    img {
        height: 30px;
        margin: 5px;
        border-radius: 50%;
        box-shadow: 0 4px 5px #f0f0f0;
    }
}

.main-header__user-btn__nickname {
    width: max-content;
    height: 40px;
    line-height: 40px;
}
