@import 'reset';
@import 'header';
@import 'menu';
@import '../ui/common';

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;

    * {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
}

#page {
    display: block;
    position: relative;
    left: 50vw; top: 40px;
    width: 50vw;
    padding: 0 25px;
    margin-left: calc(-25vw - 25px);
}
