<div class="user-profile">
    <header class="user-profile__header">
        <div class="user-profile__header__avatar">
            <img src="{{page.user.avatar}}" alt="avatar">
            {{#if page.user.online}}
                <div class="user-profile__header__avatar__online"></div>
            {{/if}}
        </div>
        <div class="user-profile__header__nickname">
            <span>{{page.user.nickname}}</span>

            {{#unless page.user.online}}
                <div class="user-profile__header__nickname__was-online">{{page.user.wasOnline}}</div>
            {{/unless}}
        </div>
    </header>
</div>
